* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: light;
    src: url(./081152f7adf53200c7f8789005ca54ca1597997115.woff2);
}

@font-face {
    font-family: bold;
    src: url(./b27921d5a95f787012c8e9dfbb86c2751597997132.woff2);
}

@font-face {
    font-family: medium;
    src: url(./c750382e5207a1a41cdcb496ef2326d51597997149.woff2);
}


#main {
    width: 100%;
    position: relative;
    overflow: hidden;
    
}

#head {
    width: 100vw;
    height: 65vh;
    background-image: url(./head\ img.avif);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;

}

#hcontent {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
    line-height: 3.5vw;
}

#head img {
    height: 4vw;
}

#head h1 {
    font-family: medium;
    font-weight: 300;
    font-size: 2.20vw;
}

#head span {
    font-family: bold;
}

#hsearch{
    width: 50vw;
    height: 6.5vh;
    background-color: #fff;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

#sleft{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

#sright{
    
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

#sline{
    width: 1px;
    height: 20px;
    background-color: #8282826b;
}

#sright input{
    color: #828282;
    margin-left: 20px;
    height: 100%;
    width: 89%;
    border: none;
    font-family: medium;
    
}

#sright input:focus{
    outline: none;
}

#sright svg{
 margin-left: 20px;

 
}

#sleft p{

    color: #828282;
    font-family: medium;
    margin-left: -5vw;
    font-size: 14px;
   
}

#location{
    margin-left: -1vw;
}


#harrow{
  margin-right: -2vw;
    rotate: 0deg;
    cursor:pointer;
    transition: cubic-bezier(0.19, 1, 0.22, 1).5s;
    z-index: 999;
  
}

#difflocation{
    width: 23vw;
    height: 9.5vh;
    background-color: #fff;
    margin-top: 7px;
    border-radius: 10px;
    color: #ef4f5f;
    font-family: light;
    text-align: left;
    line-height: 20px;
    padding-top: 20px;
    position: relative;
    display: none;
    position: absolute;
   
}


#difflocation p{
    margin-left: 40px;
    color: #828282;
    font-size: 14px;
   
}

#difflocation h5{
    margin-left: 40px;
    font-size: 18px;
    font-weight: 400;
    
}

#difflocation svg{
    position: absolute;
    left: 15px;
    top:23px;
}

#nav{
    width: 100vw;
    height: 8vh;
    /* background-color: red; */
}



#hdown{
   width: 100vw;
   height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
    flex-direction: row;
    
    
    
}

.hdcards{
    
    width: 23vw;
    height: 27vh;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #cdc6c6;
 overflow: hidden;
    position: relative;
    
}
 
#c1{
    background-image: url(./img/order.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#c2{
    background-image: url(./img/din.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


#c3{
    background-image: url(./img/nigh.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}




.cardcon{
    width: 100%;
    height: 35%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    padding: 15px ;
   

}

.cardcon h1{
    font-family: medium;
    font-size: 1.2vw;
    font-weight: 500;
    color: #000;
}

.cardcon h2{
    font-family: light;
    color: #828282;
    font-size: 1vw;
    font-weight: 500;
}

@media (max-width:600px) {

    #head{
        height: 60vh;
    }

    #hcontent {
        width: 90vw;
        line-height: 9vw;
        top: 50%;
    }

    #head h1 {
        font-weight: 300;
        font-size: 5vw;
    }

    #head img {
        height: 8vw;
    }

    #hsearch{
        display: none;
    }

    #hdown{
        height:47vh;
        flex-wrap: wrap;
        word-spacing: 0;
        justify-content:left;
        padding-left: 2vw;
        align-items: normal;
        padding-top: 2vh;
   
        
    }
    .hdcards{
        width:45vw;
        height: 20vh;
    
        
        
    }

    .cardcon{
        padding-bottom: 40px;
    }

    .cardcon h1{
        font-size: 15px;
    }
    
    .cardcon h2{
        font-size: 12px;
    }
}